body{
    background: #f5f7fa;
}

.navbar{
    padding: 15px;
}

.navbar-brand{
    font-size: 24px;
}

.nav-link{
    font-size: 18px;
    font-weight: 500;
}

.nav-link:hover{
    color: #ffd700 !important;
}